extends layout

block content
  .container
    .jumbotron.text-center
      legend ISW-811
    .row
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              strong Cookies
            .panel-body
              .well.text-center
                label#valor 0
              .row
                .col-md-6
                  button#click.btn.btn-primary.btn-block.btn-lg Click
                .col-md-6
                  button#reset.btn.btn-default.btn-block.btn-lg Reset
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              strong Sessions
            .panel-body
              .well.text-center
                label#lblCount 0
              .row
                .col-md-6
                  button#clickSession.btn.btn-primary.btn-block.btn-lg(value='0') Click
                .col-md-6
                  button#resetSession.btn.btn-default.btn-block.btn-lg Reset
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              strong DB
            .panel-body
              .well.text-center
                label 0
              .row
                .col-md-6
                  button.btn.btn-primary.btn-block.btn-lg Click
                .col-md-6
                  button.btn.btn-default.btn-block.btn-lg Reset
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              strong Local Storage
            .panel-body
              .well.text-center
                label#labelincrement 0
              .row
                .col-md-6
                  button.btn.btn-primary.btn-block.btn-lg(onclick="increment()") Click
                .col-md-6
                  button.btn.btn-default.btn-block.btn-lg(onclick="reset()") Reset
  script(src="/javascripts/localstorage.js")
  script(src='/javascripts/session.js')
  script(src='/javascripts/cookies.js')
