extends layout

block content
  .container
    .jumbotron.text-center
      legend ISW-811
    .row
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              strong Cookies
            .panel-body
              .well.text-center
                label 0
              .row
                .col-md-6
                  button.btn.btn-primary.btn-block.btn-lg Click
                .col-md-6
                  button.btn.btn-default.btn-block.btn-lg Reset
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              strong Sessions
            .panel-body
              .well.text-center
                label 0
              .row
                .col-md-6
                  button.btn.btn-primary.btn-block.btn-lg Click
                .col-md-6
                  button.btn.btn-default.btn-block.btn-lg Reset
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              strong DB
            .panel-body
              .well.text-center
                each contador in contadores
                  label= contador.valor
              .row
                .col-md-6
                  if(contadores)
                    form(action="/"+1 + '?_method=PUT' method="POST")
                      input(name="valor" type="hidden" value="0")
                      button.btn.btn-primary.btn-block.btn-lg Click
                  else
                    form(action="/" method="POST")
                      input(name="valor" type="hidden" value="0")
                      button.btn.btn-primary.btn-block.btn-lg Click
                  
                .col-md-6
                  button.btn.btn-default.btn-block.btn-lg Reset
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              strong Local Storage
            .panel-body
              .well.text-center
                label 0
              .row
                .col-md-6
                  button.btn.btn-primary.btn-block.btn-lg Click
                .col-md-6
                  button.btn.btn-default.btn-block.btn-lg Reset
